[Desktop Entry]
Name=Qt5 QDbusViewer
GenericName=D-Bus Debugger
Comment=Debug D-Bus applications
Exec=/opt/qt5/bin/qdbusviewer
Icon=qt5-qdbusviewer.png
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Development;Debugger;
